* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, #root {
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
}

#content {
  width: 100%;
  flex-grow: 1;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
