* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, #root {
  width: 100%;
  min-height: 100vh;
  background-color: #00bcd4; /* Set a global background */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#content {
  width: 100%;
  flex-grow: 1;
  padding: 20px 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

header, nav {
  width: 100%;
  background-color: #008c9e; /* Adjust based on your theme */
  padding: 10px 0;
  text-align: center;
}
